@page "/Sobre"

<PageTitle>Sobre</PageTitle>

<h3>SOBRE MIM</h3>


<style>

    h2, h3, h4 {
        border-bottom: 2px solid;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 22px;
        text-align: left;
        border-bottom: 2px solid #c78cff;
    }



    .p {
        border-bottom: 2px solid;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: justify;
        border-bottom: 2px solid #c78cff;
    }


    .eu {
        border-bottom: 2px solid;
        border-bottom: 2px solid #c78cff;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
    }

    .h3 {
        border-bottom: 2px solid;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        border-bottom: 2px solid #c78cff;
    }

    .hobbie {
        border-bottom: 2px solid;
        font-size: 15px;
        border-bottom: 2px solid #c78cff;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
    }

    .aprender {
        border-bottom: 2px solid;
        font-size: 15px;
        text-align: justify;
        border-bottom: 2px solid #c78cff;
        font-family: 'Times New Roman', Times, serif;
    }

    .favorito {
        border-bottom: 2px solid;
        font-size: 15px;
        border-bottom: 2px solid #c78cff;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
    }

    .gosto {
        border-bottom: 2px solid;
        border-bottom: 2px solid #c78cff;
        font-size: 15px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
    }

    .profissoes {
        border-bottom: 2px solid;
        font-size: 15px;
        text-align: justify;
        border-bottom: 2px solid #c78cff;
        font-family: 'Times New Roman', Times, serif;
    }


    p {
        text-align: justify;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 12px;

    }

    ul {
        margin-left: 40px;
        padding-left: 0;
        font-family: 'Times New Roman', Times, serif;
        list-style-type: disc;
    }

    li {
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 5px;
        text-align: justify;
</style>

  <div class="eu">

    <p>Sou uma pessoa criativa, curiosa e apaixonada por diferentes formas de arte e expressão. Tenho interesse em moda, escrita, línguas e artes manuais, e estou sempre buscando aprender algo novo.</p>

    <ul>
          <li>Nome: Kaylla Stéfany Teixeira de Brito.</li>
          <li>Data de nascimento: 15/04/2008.</li>
          <li>Idade: 17 anos.</li>
      </ul>
  </div>


<p>
    Hobbies
</p>

<div class="hobbie">
  
    
   
        <ul>
            <li>Costurar;</li>
            <li>Desenhar;</li>
            <li>Escrever;</li>
            <li>Ler;</li>

        </ul>
    

</div>

<p>
    Planejo cursar
</p>

<div class="profissoes">
  
    
    
        <ul>
            <li>Designer de Moda;</li>
            <li>Letras;</li>

        </ul>
    
</div>

<p>
    Quero Aprender
</p>

<div class="aprender">


    
        <ul>
            <li>Croche;</li>
            <li>Dança do ventre;</li>
            <li>Pintar;</li>
            <li>Criar Animações;</li>
            <li>Bordar;</li>
            <li>Espanhol;</li>

        </ul>
    
</div>

<p>
   Gosto De
</p>

<div class="gosto">


    
        <ul>
            <li>Animais;</li>
            <li>Assistir filmes ou séries  com minha familia;</li>
            <li>Fazer caminhadas;</li>
            <li>Fazer compras;</li>
     
        </ul>
    
</div>

<p>
    Meus Favoritos
</p>

<div class="favorito">


    
        <ul>
            <li>Cor: Vermelho;</li>
            <li>Comida: Pizza;</li>
            <li>Animal: Cachorro;</li>
            <li>Música: EXID - Me & You;</li>
            <li>Manhwa: Beware of the villainess;</li>
            <li>Animação: Três espiãs demais;</li>
        </ul>
    
</div>

 
@code {

}
