@page "/Sobre"

<PageTitle>Sobre</PageTitle>

<h3>SOBRE MIM</h3>

<div class="aula">
    <p>
        
    </p>


</div>

<p>
    HOBBIES
</p>

<div class="hobbie">
  
    
    <p>
        <ul>
            <li>Costurar;</li>
            <li>Desenhar;</li>
            <li>Escrever;</li>
            <li>Ler;</li>

        </ul>
    </p>

</div>

<p>
    PLANEJO CURSAR 
</p>

<div class="profissoes">
  
    
    <p>
        <ul>
            <li>Designer de Moda;</li>
            <li>Letras;</li>

        </ul>
    </p>
</div>

<p>
    QUERO APRENDER
</p>

<div class="aprender">


    <p>
        <ul>
            <li>Croche;</li>
            <li>Dança do ventre;</li>
            <li>Pintar;</li>
            <li>Criar Animações;</li>
            <li>Bordar;</li>
            <li>Espanhol;</li>

        </ul>
    </p>
</div>

<p>
   GOSTO DE
</p>

<div class="gosto">


    <p>
        <ul>
            <li>Animais;</li>
            <li>Assistir filmes ou séries  com minha familia;</li>
            <li>Fazer caminhadas;</li>
            <li>Fazer compras;</li>
     
        </ul>
    </p>
</div>

<p>
    Meus Favoritos
</p>

<div class="favorito">


    <p>
        <ul>
            <li>Cor: Vermelho;</li>
            <li>Comida: 
                1. Pizza;
                2. Pastel;
                3. Carne Com Batata;
            </li>
            <li>Animal: Cachorro;</li>

        </ul>
    </p>
</div>



@code {

}
